body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.page-1{
    min-height: 100vh;
}

.navbar {
    background: #ff7b7b;
    padding: 20px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.navbar ul li img {
    width:  45px;
    height: 45px;
    object-fit: contain;
}


.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.content{
    flex: 1;
    font-family: "Arial", "Helvetica", sans-serif;
    display: flex;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(
                90deg,
                #FFF6AD 0%,
                #FFE4C0 50%,
                #FFD2D1 100%
);

}

.content h1{
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 6px;
  color: #111;
  margin-bottom: 40px;
}

.content p{
  font-size: 25px;
  line-height: 1.7;
  color: #222;
  margin-bottom: 60px;
}

.img-section{
    flex:1;
}

.img-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.btn {
  background-color: #ff7b7b;
  color: #fff;
  border: none;
  padding: 16px 48px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}

.page-gap {
    height: 3vh;  
    background-color: black;
}



/* ----------------------------------------------------------------------------------------------------------------------------------- */

.page-2{
   min-height: 100vh;
}

.container2{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;  
    width: 100%;
    /* height: 100%; */
    background: linear-gradient(
        90deg,
        #FFE3C0 0%,
        #FFD0D3 50%,
        #FFB7EC 100%
    );
}

.gallery {
    margin-left: 60px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.left {
    display: grid;
    gap: 10px;
}

.left img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.right{
    display: grid;
    gap:6px;
}


.right img{
  width: 300px;
  height: 515px;
  object-fit: cover;
}


.content2 {
    max-width: 500px;
    width: 100%;
    margin: 40px auto;
    margin-left: 40px;
    padding: 30px;
    text-align: left;
    background-color: #ff6b6b;
}

.content2 p{
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 1.6;
}

.content2 h1{
    letter-spacing: 10px;
    font-size: 40px;
    line-height: 1.2;
}

.content2 h1,
.content2 p {
    word-break: normal;
    overflow-wrap: break-word;
}

.button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button img {
    width: 24px;
}

/* --------------------------------------------MEDIA-----------------------------------------------*/
 @media (max-width: 1500px) {

    .navbar ul {
        gap: 20px;
    }

    .navbar ul li {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .navbar ul li img {
    width: 30px;
    height: 30px;
  }

    .content {
        flex: 1;
        padding: 40px;
        text-align: center;
    }

    .content h1{
        font-size: 54px;
    }

    .content p{
        font-size: 15px;

    }

    .img-section{
        flex:1;}

    .img-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;}

    .btn{
        width: 160px;
    }

  

    .container2 {
  
        padding: 40px;
        gap: 40px;
    }

    .gallery {
    margin-left: 60px;
    gap: 20px;
    margin-left: 20px;
  }

  .left img{
    width: 220px;
    height: 180px;

  }
  .right img {
   width: 220px;
    height: 380px;
  }

    .content2 {
    max-width: 420px;
    margin: 40px auto;
    margin-left: 40px;
    padding: 24px;
    margin-left: 20px;
    }

    .content2 p{
        font-size: 20px;
    }

    .content2 h1{
        font-size: 40px;
    }
} 

 @media (max-width: 1100px) {

    .navbar ul {
        gap: 15px;
    }

    .navbar ul li {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .navbar ul li img {
    width: 15px;
    height: 15px;
  }

   .content {
        flex: 1;
        padding: 35px;
        text-align: center;
    }

    .content h1{
        font-size: 40px;
    }

    .content p{
        font-size: 12px;

    }

    .img-section{
        flex:1;}

    .img-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;}

    .btn{
        width: 160px;
    }

    

    .container2 {
  
        padding: 30px;
        gap: 30px;
    }

    .gallery {
    gap: 10px;
    margin-left: 60px;
  }

  .left img{
     width: 150px;
    height: 180px;

  }
  .right img {
   width: 150px;
    height: 380px;
  }

    .content2 {
    max-width: 300px;
    padding: 12px;
     margin: 40px auto;
    margin-left: 40px;
    }

     .content2 p{
        font-size: 15px;
    }

    .content2 h1{
        font-size: 35px;
    }
} 

 @media (max-width: 750px) {

    .navbar ul {
        gap: 10px;
    }

    .navbar ul li {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .navbar ul li img {
    width: 10px;
    height: 10px;
  }

   .content {
        flex: 1;
        padding: 35px;
        text-align: center;
    }

    .content h1{
        font-size: 30px;
    }

    .content p{
        font-size: 9px;

    }

    .img-section{
        flex:1;}

    .img-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;}

    .btn{
        width: 160px;
    }

    .container2 {
  
        padding: 30px;
        gap: 30px;
    }

    .gallery {
    gap: 5px;
    margin-left: 40px;
  }

  .left img{
    width: 100px;
    height: 160px;

  }
  .right img {
   width: 100px;
    height: 330px;
  }

    .content2 {
    max-width: 200px;
    padding: 6px;
    margin: 40px auto;
    margin-left: 40px;
    }

      .content2 p{
        font-size: 10px;
    }

    .content2 h1{
        font-size: 30px;
    }
} 

 @media (max-width: 550px) {

    .navbar ul {
        gap: 5px;
    }

    .navbar ul li {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .navbar ul li img {
    width: 10px;
    height: 10px;
  }

    .content {
        flex: 1;
        padding: 35px;
        text-align: center;
    }

    .content h1{
        font-size: 25px;
    }

    .content p{
        font-size: 5px;

    }

    .img-section{
        flex:1;}

    .img-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;}

    .btn{
        width: 160px;
    }

    .container2 {
  
        padding: 25px;
        gap: 25px;
    }

    .gallery {
    gap: 5px;
    margin-left: 30px;
  }

  .left img{
    width: 60px;
    height: 110px;

  }
  .right img {
   width: 60px;
    height: 230px;
  }

    .content2 {
    max-width: 200px;
    padding: 6px;
     margin: 30px auto;
    margin-left: 30px;
    }

      .content2 p{
        font-size: 8px;
    }

    .content2 h1{
        font-size: 20px;
    }
} 







